/*@import url('https://fonts#googleapis#com/css2?family=Libre+Franklin&display=swap');*/
body {
    font-family: "Arial", sans-serif;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
}

.font-weight-normal {
    font-weight: normal;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#header--home {
    background-color: #012622;
    color: white;
    text-align: left;
    box-shadow: 0px 0px 4px black;
    padding-top: 5px;
    padding-bottom: 5px;
}

#icon--header--home {
    height: 20px;
    vertical-align:top;
    padding-right: 5px;
}

#main-title--header--home {
    color: white;
    font-size: large;
    font-weight: bolder;
}

#subtitle--header--home{
    font-size: small;
    font-weight: lighter;
    margin-left: 20px;
}

#content-wrap {
    padding-bottom: 35px;
    padding: 10px 50px 10px 50px;
    max-width: 100vw;
}

#main-title-h1 {
    text-align: center;
}

#textarea-div--home {
    max-width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    box-shadow: 0px 0px 5px;
}

#textarea--home {
    width: 700px;
    height: 150px;
    padding: 0px;
    resize: vertical;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    outline: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: none;
    max-width: 100%;
}

#footer--home {
    position: absolute;
    bottom: 0;
    overflow: auto;
    width: 100%;
    background-color: #012622;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 4px black;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: small;
    font-weight: lighter;
}

#link--footer--home {
    color: #a9fff6;
    text-decoration: underline;
}

#link--footer--home:hover {
    color: #a3c0bd;
}